---
layout: default
title: Remotemasters.club
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}
  <div class="home-container">
    <div class="home-what item">
      <h2>What is RemoteMasters club?</h2>
      <p>
        We started RemoteMasters club as a place where we tech leaders can learn and share their experience on how to build and manage distributed tech teams.
      </p>

      <h2>How we do this?</h2>
      <p>
        We analyze a lot of content to extract most valuable information and deliver it via email in a minimalist format.
        Once a week we send out a newsletter with 3-5 curated articles.
      </p>
      <p>
        As an alternative, we have Telegram channel to subscribe.
      </p>

      <p>
      Our group at LenkedIn is created for communication. Members of this group could ask for an advise or feedback from a very targeted community and receive consulting help.
      </p>
      <h2>Who are behind the club?</h2>
      <p>
       Mike and Sasha started this club. As we are years in the industry of building distributed teams we see that even the trend is already here, still there are many tech leaders who does not benefit from applying remote work benefits in their teams.
       We wanted to create a place where we can share information and comunicate.
      </p>
    </div>
  </div>
</div>
